.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.navbar {
 
  margin-top: auto;
  
}
#top-filler {
  margin-bottom: auto;
}

#nav-container {
  align-items: flex-end;
}

.loginPtext {
  padding-top: 20px;
  font-size: 20px;
}

.Amenity {
  padding-left: 20px;
  padding-right: 5px;
}

.formInputLabel {
  padding-right: 20px;
}

.formInput {
  margin-left: auto;
  margin-right: auto;
}

.formRowFour {
  font-size: 20px;
  font-weight: bold;
}

.formRowEight {
  padding-bottom: 15px;
}

.newCampFormSbmt {
  padding-top: 15px;
}

textarea {
  height: 150px;
  width: 400px;
}

.indCampOtherLodg {
  padding-top: 20px;
}

.indCampStyle {
  position: relative;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: -1px;
  background-color: #fff;
  border-top: 1px solid rgba(0,0,0,.125);
}