.logo {
  height: 150px;
  position: fixed;
  z-index: 1;
  /* display: block; */
  /* left: 50%; */
}
/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
